.App {
  text-align: center;
}

.Home-Button {
  position: absolute;
  left:2%;
  top:2%;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s;
    animation-timing-function: cubic-bezier(1, 0.05, 0.05, 1);
    animation-delay: 0.2s;
    /* animation-direction: alternate; */
  }
}

.App-header {
  background-image: url('./fern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -2cm;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.GreyRoundDiv {
  background-color: #C4C4C4;
  border-radius: 48px;
  font-size: 24px;
  box-sizing: border-box;
  padding:5%;
  color: black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.GreyRoundDiv::-webkit-scrollbar {
  display: none;
}

.BlueRoundDiv {
  color: black;
  border-radius: 20px;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  padding:10px;
  background-color: #A7D1F8;
  overflow: none;
  width: 1233px;
}

.RedRoundDiv {
  color: black;
  border-radius: 20px;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  padding:10px;
  background-color: #F8A7A7;
  overflow: none;
  width: 1233px;
}

.BlueButton {
  width: 471px;
  height: 195px;
  background: #A7D1F8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
  border: none;
  cursor: pointer;
}

.GreyInput {
  background-color:#E8E8E8;
  font-size: 24px;
  border-radius: 15px;
  width: 1164px;
  height: 116px;
  padding-left: 10px;
  margin: 8px;
}

.GreyInputNarrow {
  background-color:#E8E8E8;
  font-size: 24px;
  border-radius: 15px;
  width:500px;
  height: 40px;
  margin-left:15px;
  font-size:24px;
  padding-left: 10px;
}

.GreyInputWide {
  background-color:#E8E8E8;
  font-size: 24px;
  border-radius: 15px;
  width:500px;
  height: 200px;
  margin-left:15px;
  font-size:24px;
  overflow-y: scroll;
  padding-left: 10px;
}

.GreyInputWide::-webkit-scrollbar {
  display: none;
}

.flexbox {
  display:flex;
  margin: 15px;
}

.TopRightDiv {
  position: absolute;
  right:2%;
  top:2%;
}

ol{
  display:list-item;
  list-style: decimal;
}